{% extends 'NemesisBundle::layout.html.twig' %}


{% block title %}
    {{ parent() }}
{% endblock %}

{% block nemesis_body %}

    <!-- Container (Why Section) -->
    <div id="why" class="container-fluid">
        <div class="row">
            <div class="col-sm-8">
                <table style="width: 1014px;" align="center">
                    <tbody>
                    <tr>
                        <td colspan="5">
                            <h2 style="text-align: center;"><em><span style="color: #102d4a;"> </span></em></h2>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 1014px;" colspan="5">
                            <h1 style="text-align: center;" class="ruby">Pourquoi choisir CrossFit Nemesis ?</h1>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 1014px; text-align: center;" colspan="5">
                            <h3>Créé en 2015 CrossFit Nemesis est une salle de sport professionnelle ou tous les niveaux sont les bienvenus. Vous serez encadré et accompagné au quotidien par des coachs d'expérience dont la seule motivation sera vos résultats. <br />Notre ambition : devenir une référence locale en matière d'éducation, d'entrainement, de préparation et de formation en mutualisant les compétences et les expériences.   </h3>
                        </td>
                    </tr>
                    <tr>
                        <td valign="middle">
                            <h2 class="ruby" style="text-align: right;">Nul besoin d'être bon pour commencer...mais besoin de commencer pour le devenir</h2>
                        </td>
                        <td style="width: 15px;"> </td>
                        <td style="text-align: center; width: 671px;" colspan="3" valign="top">
                            <p><img style="vertical-align: top;" src="http://www.crossfitnemesis.fr/docs/crossfit.jpg" alt="" /></p>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 328px;" valign="top">
                            <p style="text-align: left;"><strong>La Communauté : </strong></p>
                            <p style="text-align: left;">CrossFit Nemesis travaille dur tous les jours pour construire, à travers votre réussite, son succès. Beaucoup de raisons incitent les personnes à nous rejoindre, l'une des principales reste l'interaction entre les membres : partager un environnement commun et se retrouver autours de valeurs humaines, peut importe la charge soulevée ou le temps réalisé !</p>
                        </td>
                        <td style="width: 15px;" valign="top"> </td>
                        <td style="text-align: center; width: 328px;" valign="top">
                            <p style="text-align: left;"><strong>La qualité de l'Encadrement :</strong> </p>
                            <p style="text-align: left;">En perpétuelle évolution, notre métier et notre activité nous oblige une constante remise en question, et nous imposent continuellement de nous former et nous informer. Toujours à la recherche de l'excellence et l'exemplarité, les coachs CrossFit Nemesis auront à cœur de vous transmettre leur passion au quotidien.</p>
                        </td>
                        <td style="text-align: center; width: 15px;" valign="top">
                            <p> </p>
                        </td>
                        <td style="text-align: center; width: 328px;" valign="top">
                            <p style="text-align: left;"><strong>Vous d'abord :</strong> </p>
                            <p style="text-align: left;">Outre la facilité et la liberté dans vos choix de cours, nous irons bien plus loin que le simple aspect physique de l'entrainement. Grâce aux cours spécifiques et séminaires pensés, conçus et réfléchis pour vous accompagner au delà de ce que vous pensiez possible, vous vivrez une autre expérience de votre pratique sportive. En plus de changer votre fitness, vous changerez bien plus.</p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Container (About Section) -->
    <div id="about" class="container-fluid">
        <div class="row">
            <div class="col-sm-8">
                <p>2</p>
            </div>
        </div>
    </div>

    <!-- Container (Staff Section) -->
    <div id="staff" class="container-fluid bg-grey">
        <div class="text-center">
            <h2>Staff</h2>
        </div>
        <div class="row">
            <!-- On crée une boucle sur les memnbres du staff pour récup la photo et la description-->
            <div class="col-sm-4">
                <div class="thumbnail">
                    <img src="" alt="Membre du staff">
                    <p><strong>Staff.nom</strong></p>
                    <p>Staff.description </p>
                </div>
            </div>
        </div>
    </div>
    <!-- Container (Pricing Section) -->
    <div id="pricing" class="container-fluid">
        <div class="text-center">
            <h2>Pricing</h2>
        </div>
        <div class="row">
            <!-- On crée une boucle sur les activitées pour récup prix et ce que l'on fait dedans-->
            <div class="col-sm-4">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <h1>Price.nom</h1>
                    </div>
                    <div class="panel-body">
                        <p><strong>Boucle sur les activité du proposée</strong></p>
                    </div>
                    <div class="panel-footer">
                        <h3>Price.prix</h3>
                        <h4>Par Mois</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Container (Contact Section) -->
    <div id="Contact" class="container-fluid">
        <div class="row">
            <div class="col-sm-8">
                <p>5</p>
            </div>
        </div>
    </div>
    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>A Bootstrap Starter Template</h1>
                <p>Does it work ? Yes mamene</p>
                <p class="lead">Complete with pre-defined file paths that you won't have to change!!</p>
                <ul class="list-unstyled">
                    <li>Bootstrap v3.3.7</li>
                    <li>jQuery v1.11.1</li>
                </ul>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
{% endblock %}



